ul
  li.title 核心库
  li
    a(href="dom.html") Dom7 - Custom DOM Library
  li
    a(href="app-layout.html") APP 基本HTML结构
  li
    a(href="rtl-layout.html") 从右向左布局
  li
    a(href="init-app.html") 初始化应用
  li
    a(href="views.html") 视图(Views)
  li
    a(href="pages.html") 页面(Pages)
  li
    a(href="page-callbacks.html") 页面回调
  li.title 路由器
  li
    a(href="router-api.html") API
  li
    a(href="pages-ajax.html") Ajax 页面
  li
    a(href="pages-dynamic.html") 动态页面
  li
    a(href="pages-inline.html") 内联页面 (DOM 缓存)
  li
    a(href="linking-views.html") 视图间链接

  li.title 组件
  li
    | 导航栏和工具栏 
    ul
      li 
        a(href="navbar-toolbar-layouts.html") 布局类型
      li
        a(href="navbar.html") 导航栏
      li 
        a(href="dynamic-navbar.html") 动态导航栏
      li
        a(href="sub-navbar.html") 二级导航栏
      li
        a(href="toolbar.html") 工具栏
      li
        a(href="tabbar.html") 带图标工具栏
      li
        a(href="hide-bars-on-scroll.html") 自动隐藏工具栏
  li
    a(href="searchbar.html") 搜索栏
  li
    a(href="status-bar.html") 状态栏
  li
    a(href="side-panels.html") 侧栏 
  li
    a(href="content-block.html") 内容区
  li
    a(href="grid.html") 栅格
  li
    | 弹层
    ul
      li
        a(href="modal.html") Modal
      li
        a(href="popup.html") Popup
      li
        a(href="popover.html") Popover
      li
        a(href="action-sheet.html") Action Sheet
      li
        a(href="login-screen.html") Login Screen
      li
        a(href="picker-modal.html") Picker Modal
  li
    a(href="preloader.html") Preloader Indicator
  li 
    | 列表(表格)
    ul
      li
        a(href="list-view.html") 列表
      li
        a(href="contacts-list.html") 联系人列表
      li
        a(href="media-list-view.html") 多媒体列表
      li
        a(href="swipeout.html") 滑动操作
      li
        a(href="sortable-list.html") 可排序列表
      li
        a(href="virtual-list.html") 虚拟列表
  li
    a(href="accordion.html") Accordion / Collapsible
  li
    a(href="cards.html") 卡片
  li
    a(href="buttons.html") 按钮
  li 
    | 表单
    ul
      li
        a(href="form-elements.html") 表单布局
      li
        a(href="checkboxes-radios.html") 单选复选按钮
      li
        a(href="smart-select.html") Smart Select
      li
        a(href="disabled-elements.html") 禁用元素
      li
        a(href="form-data.html") 表单数据
      li
        a(href="form-storage.html") 表单数据存储
      li
        a(href="form-ajax-submit.html") Ajax异步提交
  li 
    a(href="tabs.html") 标签页
  li
    a(href="swiper.html") 幻灯片
  li
    a(href="photo-browser.html") 图片浏览器
  li
    a(href="picker.html") picker
  li
    a(href="calendar.html") 日历
  li
    a(href="pull-to-refresh.html") 下拉刷新
  li
    a(href="infinite-scroll.html") 无限滚动
  li
    a(href="messages.html") 消息
  li
    a(href="messagebar.html") 消息栏
  li
    a(href="notifications.html") 通知
  li
    a(href="lazy-load.html") 懒加载
  li.title 样式
  li
    a(href="color-themes.html") 皮肤颜色
  li
    a(href="hairlines.html") 边框
  li.title Template7
  li
    a(href="template7.html") 入门
  li
    a(href="template7-auto-compilation.html") 自动编译模板
  li
    a(href="template7-pages.html") Template7 Pages
  li.title Fast Clicks
  li  
    a(href="active-state.html") 激活状态
  li  
    a(href="tap-hold.html") 长按事件
  
  li.title 工具
  li  
    a(href="device-api.html") 设备 API
  li  
    a(href="support-api.html") API
  li.title 
    a(href="plugins-api.html") 插件 API
  li.title 
    a(href="custom-build.html") 自定义下载
    a(href="custom-build.html") Custom Build  
