extends ../jade/_internal-template

block vars
  - var activeLink = 'contribute';
  - var title = 'Contribute To Framework7';
  - var noDisqus = 1

block content
  h1 想给Framework7做一些贡献吗
  p 你可以有几种方式类给Framework7的开发做一些贡献，让她变得越来越好：
  h3 在github上提交你的代码
  p 如果你有任何可以改进 Framework7 的地方，欢迎在 <a href="https://github.com/nolimits4web/Framework7" target="_blank">Framework7 GitHub project</a> 上提交你的代码。
  p 如果你有任何建议或者问题，请在   <a href="https://github.com/nolimits4web/Framework7/issues/new" target="_blank">submitting an issue</a> 上提交。
  h3 提交你的案例
  p 你可以把自己的应用提交到 <a href="../apps/">Demo Apps</a> 或者 <a href="../examples/">Examples</a>，这会对新的开发者有很大帮助。
  h3 捐助
  p 如果你觉得Framework7很好，你可以 <a href="../donate/">捐助作者</a>。
