extends ../jade/_internal-template

block vars
  - var activeLink = 'donate';
  - var title = 'Donate To Framework7';
  - var noDisqus = 1

block content
  h1 捐助 Framework7
  p  如果你喜欢Framework7，你可以通过以下方式捐助作者：
  ul
    li 
      p using Skrill (Moneybookers):  
        a(href="http://www.idangero.us/buy/donate-framework7.php", target="_blank", onclick="_gaq.push(['_trackEvent', 'Donate Framework7', 'Clicked'])").donate-button Donate
    li 
      p using Flattr: 
        a(target="_blank", href="https://flattr.com/submit/auto?\
              user_id=nolimits4web&url=http://www.idangero.us/framework7/&title=Framework7&\
              description=Full Featured HTML Framework For Building iOS Apps&language=en_GB&\
              tags=api,programming,mobile,framework&category=software")
          img(src="https://api.flattr.com/button/flattr-badge-large.png", style="vertical-align:middle")
  h2 支持 iDangero.us
  p 你也可以在 <a href="http://www.idangero.us">iDangero.us</a> 市场上购买他们的产品。
