extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Framework7 Custom Build | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content
      h1 Framework7 Custom Build
      p Since version 1.0.0 Framework7 comes with Gulp builder that allows to build custom library version where you may include only required components/modules. We need the following:
      ol
        li 
          p 下载<a href="https://github.com/nolimits4web/Framework7" target="_blank">Framework7 GitHub repository</a>，解压到本地目录
        li
          p 安装<a href="http://nodejs.org/" target="_blank">Node.js</a> （如果没有安装的话）
        li
          p Install Gulp (if not installed) by executing the following command in terminal:
          pre
            code $ npm install --global gulp
        li
          p 然后，我们需要安装需要的依赖，进入Framework7 repository解压的路径，在终端中执行如下命令：
          pre
            code $ npm install
        li 
          p 现在，我们做好了构建定制版本Framework7的准备工作。我们需要执行<code>gulp custom</code>命令，传递我们想要添加的组件/模块作为参数。例如，如果我们只想要手风琴（Accordion ）和标签页（Tabs）的话：
            pre
              code $ gulp custom -accordion,tabs
            .important-note 注意，在逗号和组件名之间不应有空格
        li
          p 以上即为全部操作。现在，你应该可以看到<code>custom/</code>文件夹，它包含定制的JS和CSS文件，以及相应的压缩版本
      h2 可用的组件/模块
      p 这里是你可以用来定制构建的核心组件列表：
      table
        tr
          td.nowrap accordion
          td <a href="accordion.html">手风琴</a>组件
        tr
          td.nowrap searchbar
          td <a href="searchbar.html">搜索栏</a>组件
        tr
          td.nowrap messages
          td 包含<a href="messages.html">消息</a>和<a href="messagebar.html">消息栏</a>组件
        tr
          td.nowrap modals
          td 包含所有遮罩组件：<a href="modal.html">模态框</a>, <a href="popup.html">上弹框</a>, <a href="popover.html">弹出框</a>, <a href="action-sheet.html">操作表</a>和<a href="login-screen.html">登陆屏</a>
        tr
          td.nowrap swipeout
          td <a href="swipeout.html">滑动操作</a>组件
        tr
          td.nowrap sortable
          td <a href="sortable-list.html">可排序列表</a>组件
        tr
          td.nowrap cards
          td <a href="cards.html">Cards</a> component
        tr
          td.nowrap smart-select
          td <a href="smart-select.html">智能选择</a>组件
        tr
          td.nowrap virtual-list
          td <a href="virtual-list.html">Virtual List</a> component
        tr
          td.nowrap pull-to-refresh
          td <a href="pull-to-refresh.html">下拉刷新</a>组件
        tr
          td.nowrap infinite-scroll
          td <a href="infinite-scroll.html">无限滚动</a>组件
        tr
          td.nowrap scroll-toolbars
          td <a href="hide-bars-on-scroll.html">Hide Bars On Scroll</a> component
        tr
          td.nowrap tabs
          td <a href="tabs.html">Tabs</a> component
        tr
          td.nowrap fast-clicks
          td 这个库用来去除在移动端浏览器中300ms的点击延时。如果你想要使用第三方的快速点击库，你无需添加它
        tr
          td.nowrap forms
          td 表单逻辑。包含<a href="form-storage.html">表单存储</a>, <a href="form-data.html">表单数据</a>和<a href="form-ajax-submit.html">Ajax表单提交</a>
        tr
          td.nowrap push-state
          td 添加浏览历史
        tr
          td.nowrap swiper
          td <a href="swiper.html">幻灯片</a> component
        tr
          td.nowrap photo-browser
          td <a href="photo-browser.html">图片浏览器</a>组件。幻灯片也会被安装，因为图片浏览器需要它
        tr
          td.nowrap notifications
          td <a href="notifications.html">通知</a>组件
        tr
          td.nowrap picker
          td <a href="picker.html">Picker</a> component
        tr
          td.nowrap calendar
          td <a href="calendar.html">Calendar / Datepicker</a> component
      h2 只有内核
      p 如果你不添加任何组件，只需要执行 "gulp custom"，而不添加任何参数：
      pre
        code $ gulp custom
