extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = '无限滚动 | Framework7 文档';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 无限滚动
        p 无限滚动用来在页面滚动到接近底部时加载新内容或进行其他操作。

        h2 无限滚动HTML结构
        p 你只需在可滚动的容器上添加“infinite-scroll”类，一般是页面滚动区域 - <code>&lt;div class="page-content"&gt;</code>:
        pre
          code
            | &lt;div class="page"&gt;
            |     &lt;div class="page-content infinite-scroll" data-distance="100"&gt;
            |         ... 
            |     &lt;/div&gt;
            | &lt;/div&gt;
        p 其中：
        ul
          li
            p <code>div class="page-content infinite-scroll"</code>是我们无限滚动的容器
          li
            p <code>data-distance</code>属性用来配置页面滚动到离底部多远时触发无限滚动事件，默认是<b>50</b> (px)
            p <code>data-distance</code> attribute allows to configure distance from the bottom of page (in px) to trigger infinite scroll event. By default, if note specified, it is <b>50</b> (px)
        h2 Infinite Scroll On Top
        p If you need to use infinite scroll on top the page (when it scrolled to top), you need to add additional "infinite-scroll-top" class to "page-content":
        pre
          code
            | &lt;div class="page"&gt;
            |     &lt;div class="page-content infinite-scroll infinite-scroll-top"&gt;
            |         ... 
            |     &lt;/div&gt;
            | &lt;/div&gt;
        h2 无限滚动事件
        table.events-table
          thead
            tr
              th 事件（Event）
              th 对象（Target）
              th 描述（Description）
          tbody
            tr
              td infinite
              td 可无限滚动的容器<span>&lt;div class="page-content infinite-scroll"&gt;</span>
              td 事件会在页面滚动至距底部还有特定距离（可在data-distance中配置）时触发
        h2 无限滚动API
        p 有2个App方法：
        .method-wrap
          p
            span.method myApp.attachInfiniteScroll(<span>container</span>) 
            span - 为指定的HTML元素容器添加无限滚动事件监听器
          ul.method-parameters
            li
              span.parameter parameters
              |  - 表示无限滚动容器的<span class="parameter-type">HTML元素</span>或<span class="parameter-type">CSS选择器</span>。必选。
        .method-wrap
          p
            span.method myApp.detachInfiniteScroll(<span>container</span>) 
            span - 从指定的HTML元素容器删除无限滚动事件监听器
          ul.method-parameters
            li
              span.parameter parameters
              |  - 表示无限滚动容器的<span class="parameter-type">HTML元素</span>或<span class="parameter-type">CSS选择器</span>。必选。
        .important-note
          p 注意，仅在你使用myApp.detachInfiniteScroll方法删除过事件监听器后，才可能需要使用myApp.attachInfiniteScroll方法，因为无限滚动组件的事件监听器会在“pageInit”时被自动添加。
      h2(data-device-preview="../docs-demos/infinite-scroll.html") 示例
      pre
        code
          | &lt;div class="page-content infinite-scroll"&gt;
          |   &lt;div class="list-block"&gt;
          |     &lt;ul&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item 1&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item 2&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       ...
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item 20&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |     &lt;/ul&gt;
          |   &lt;/div&gt;
          |   &lt;!-- 加载提示符 --&gt;
          |   &lt;div class="infinite-scroll-preloader"&gt;
          |     &lt;div class="preloader"&gt;&lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt; 
      pre
        code
          | .infinite-scroll-preloader {
          |   margin-top:-20px;
          |   margin-bottom: 10px;
          |   text-align: center;
          | }
          | .infinite-scroll-preloader .preloader {
          |   width:34px;
          |   height:34px;
          | }        
      pre
        code
          | var myApp = new Framework7(); 
          | 
          | var $$ = Dom7;
          | 
          | // 加载flag
          | var loading = false;
          | 
          | // 上次加载的序号
          | var lastIndex = $$('.list-block li').length;
          | 
          | // 最多可加载的条目
          | var maxItems = 60;
          | 
          | // 每次加载添加多少条目
          | var itemsPerLoad = 20;
          | 
          | // 注册'infinite'事件处理函数
          | $$('.infinite-scroll').on('infinite', function () {
          | 
          |   // 如果正在加载，则退出
          |   if (loading) return;
          | 
          |   // 设置flag
          |   loading = true;
          | 
          |   // 模拟1s的加载过程
          |   setTimeout(function () {
          |     // 重置加载flag
          |     loading = false;
          | 
          |     if (lastIndex &gt;= maxItems) {
          |       // 加载完毕，则注销无限加载事件，以防不必要的加载
          |       myApp.detachInfiniteScroll($$('.infinite-scroll'));
          |       // 删除加载提示符
          |       $$('.infinite-scroll-preloader').remove();
          |       return;
          |     }
          | 
          |     // 生成新条目的HTML
          |     var html = '';
          |     for (var i = lastIndex + 1; i &lt;= lastIndex + itemsPerLoad; i++) {
          |       html += '&lt;li class="item-content"&gt;&lt;div class="item-inner"&gt;&lt;div class="item-title"&gt;Item ' + i + '&lt;/div&gt;&lt;/div&gt;&lt;/li&gt;';
          |     }
          | 
          |     // 添加新条目
          |     $$('.list-block ul').append(html);
          | 
          |     // 更新最后加载的序号
          |     lastIndex = $$('.list-block li').length;
          |   }, 1000);
          | });          
