extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = '登录屏 | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 登陆屏
        p Framework7支持登陆屏布局，它可以用在页面内部，或者用在弹出框中（嵌入），或者用作单独的遮罩。 
        h2 登陆屏布局
        p 首先，我们看一下单独的登录屏布局，它和弹出框很像：
        pre
          code
            | &lt;body&gt;
            |   ...
            |   &lt;!-- Should be a direct child of BODY --&gt;
            |   &lt;div class="login-screen"&gt;
            |       &lt;!-- Default view-page layout --&gt;
            |       &lt;div class="view"&gt;
            |         &lt;div class="page"&gt;
            |           &lt;!-- page-content has additional login-screen content --&gt;
            |           &lt;div class="page-content login-screen-content"&gt;
            |             &lt;div class="login-screen-title"&gt;My App&lt;/div&gt;
            |             &lt;!-- Login form --&gt;
            |             &lt;form&gt;
            |               &lt;div class="list-block"&gt;
            |                 &lt;ul&gt;
            |                   &lt;li class="item-content"&gt;
            |                     &lt;div class="item-inner"&gt;
            |                       &lt;div class="item-title label"&gt;Username&lt;/div&gt;
            |                       &lt;div class="item-input"&gt;
            |                         &lt;input type="text" name="username" placeholder="Username"&gt;
            |                       &lt;/div&gt;
            |                     &lt;/div&gt;
            |                   &lt;/li&gt;
            |                   &lt;li class="item-content"&gt;
            |                     &lt;div class="item-inner"&gt;
            |                       &lt;div class="item-title label"&gt;Password&lt;/div&gt;
            |                       &lt;div class="item-input"&gt;
            |                         &lt;input type="password" name="password" placeholder="Password"&gt;
            |                       &lt;/div&gt;
            |                     &lt;/div&gt;
            |                   &lt;/li&gt;
            |                 &lt;/ul&gt;
            |               &lt;/div&gt;
            |               &lt;div class="list-block"&gt;
            |                 &lt;ul&gt;
            |                   &lt;li&gt;
            |                     &lt;a href="#" class="item-link list-button"&gt;Sign In&lt;/a&gt;
            |                   &lt;/li&gt;
            |                 &lt;/ul&gt;
            |                 &lt;div class="list-block-labe"&gt;Some text with login information.&lt;/div&gt;
            |               &lt;/div&gt;
            |             &lt;/form&gt;
            |           &lt;/div&gt;
            |         &lt;/div&gt;
            |       &lt;/div&gt;
            |   &lt;/div&gt;
            | &lt;/body&gt;
        .important-note
          p 注意，你在&lt;div class="login-screen"&gt;内部看到的元素都是可选的，但是你可以把它们作为你登陆表单的样板
        h2 打开和关闭登录屏
      h3(data-device-preview="../docs-demos/login-screen.html")使用HTML
      p 可以通过在链接上添加特定的类来打开关闭登陆屏
      .important-note
        ul
          li
            p 为了打开登录屏，我们需要在HTML元素（最好是链接）上添加<strong>"open-login-screen"</strong>类
          li
            p 为了关闭登录屏，我们需要在HTML元素（最好是链接）上添加<strong>"close-login-screen"</strong>类
      p 下面是示例：
      pre
        code
          | &lt;body&gt;
          |   ...
          |     &lt;div class="page-content"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;p&gt;&lt;a href="#" class="open-login-screen"&gt;Open Login Screen&lt;/a&gt;&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   ...
          |   &lt;div class="login-screen"&gt;
          |     &lt;div class="view"&gt;
          |       &lt;div class="page"&gt;
          |         &lt;div class="page-content login-screen-content"&gt;
          |           &lt;div class="login-screen-title"&gt;My App&lt;/div&gt;
          |           &lt;form&gt;
          |             &lt;div class="list-block"&gt;
          |               &lt;ul&gt;
          |                 &lt;li class="item-content"&gt;
          |                   &lt;div class="item-inner"&gt;
          |                     &lt;div class="item-title label"&gt;Username&lt;/div&gt;
          |                     &lt;div class="item-input"&gt;
          |                       &lt;input type="text" name="username" placeholder="Your username"&gt;
          |                     &lt;/div&gt;
          |                   &lt;/div&gt;
          |                 &lt;/li&gt;
          |                 &lt;li class="item-content"&gt;
          |                   &lt;div class="item-inner"&gt;
          |                     &lt;div class="item-title label"&gt;Password&lt;/div&gt;
          |                     &lt;div class="item-input"&gt;
          |                       &lt;input type="password" name="password" placeholder="Your password"&gt;
          |                     &lt;/div&gt;
          |                   &lt;/div&gt;
          |                 &lt;/li&gt;
          |               &lt;/ul&gt;
          |             &lt;/div&gt;
          |             &lt;div class="list-block"&gt;
          |               &lt;ul&gt;
          |                 &lt;li&gt;&lt;a href="#" class="item-link list-button"&gt;Sign In&lt;/a&gt;&lt;/li&gt;
          |               &lt;/ul&gt;
          |               &lt;div class="list-block-label"&gt;
          |                 &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/p&gt;
          |                 &lt;p&gt;&lt;a href="#" class="close-login-screen"&gt;Close Login Screen&lt;/a&gt;&lt;/p&gt;
          |               &lt;/div&gt;
          |             &lt;/div&gt;
          |           &lt;/form&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   ...
          | &lt;/body&gt;
      h3(data-device-preview="../docs-demos/login-screen-js.html")使用JavaScript
      p 我们可以通过JavaScript来打开关闭登陆屏，先来看一下相关的App方法：
      p
        span.method myApp.loginScreen()</span> - 打开登录屏
      p
        span.method myApp.closeModal(<span>loginScreen</span>)</span> - 关闭登录屏
      ul.method-parameters
        li
          span.parameter loginScreen
          |  - <span class="parameter-type">HTML元素</span>或是（含有CSS选择器的）<span class="parameter-type">字符串</span>。可选。如果没有指定，任何打开的登陆屏/弹出框/模态框都会被关闭。
      pre
        code
          | &lt;body&gt;
          |   ...
          |     &lt;div class="page-content"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;p&gt;&lt;a href="#" class="open-login"&gt;Open Login Screen&lt;/a&gt;&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   ...
          |   &lt;div class="login-screen"&gt;
          |     ... login screen content ...
          |   &lt;/div&gt;
          |   ...
          | &lt;/body&gt;
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.open-login').on('click', function () {
          |   myApp.loginScreen();
          | });
      h2 登陆屏事件
      p 登陆屏具有和Modal一样的事件，当你需要在登陆屏打开/关闭时执行操作的时候，它们会有用处。
      table.events-table
        thead
          tr
            th 事件
            th 对象
            th 描述
        tbody
          tr
            td open
            td 登陆屏元素<span>&lt;div class="login-screen"&gt;</span>
            td 当登陆屏开始弹出动画的时候，事件触发
          tr
            td opened
            td 登陆屏元素<span>&lt;div class="login-screen"&gt;</span>
            td 当登陆屏完成弹出动画的时候，事件触发
          tr
            td close
            td 登陆屏元素<span>&lt;div class="login-screen"&gt;</span>
            td 当登陆屏开始结束动画的时候，事件触发
          tr
            td closed
            td 登陆屏元素<span>&lt;div class="login-screen"&gt;</span>
            td 当登陆屏完成结束动画的时候，事件触发
      h2(data-device-preview="../docs-demos/login-screen-start.html") 从登陆屏开启应用
      p 很多时候，我们需要把登陆屏作为应用的第一个页面。为了使它在加载时可见，我们只需要对登陆屏遮罩添加"modal-in"类：
      pre
        code
          | &lt;body&gt;
          |   ...
          |   &lt;div class="login-screen modal-in"&gt;
          |     ... login screen content ...
          |   &lt;/div&gt;
          | &lt;/body&gt;
      div(style="height:400px")
      h2(data-device-preview="../docs-demos/login-screen-embedded.html")嵌入式登陆屏
      p 也可以把登陆屏嵌入到页面或弹出框中。我们来看一下页面内登陆屏的示例：
      p 
        em index page:
      pre
        code
          | &lt;div data-page="home" class="page navbar-fixed"&gt;
          |   &lt;div class="navbar"&gt;
          |     &lt;div class="navbar-inner"&gt;
          |       &lt;div class="left"&gt;&lt;/div&gt;
          |       &lt;div class="center"&gt;Embedded Login Screen&lt;/div&gt;
          |       &lt;div class="right"&gt;&lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="page-content"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;&lt;a href="login-screen-page.html" class="open-login-screen"&gt;Open page with Login Screen&lt;/a&gt;&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
      p 
        em login-screen-page.html:
      pre
        code
          | &lt;div data-page="login-screen" class="page no-navbar no-toolbar no-swipeback"&gt;
          |   &lt;div class="page-content login-screen-content"&gt;
          |     &lt;div class="login-screen-title"&gt;My App&lt;/div&gt;
          |     &lt;form&gt;
          |       &lt;div class="list-block"&gt;
          |         &lt;ul&gt;
          |           &lt;li class="item-content"&gt;
          |             &lt;div class="item-inner"&gt;
          |               &lt;div class="item-title label"&gt;Username&lt;/div&gt;
          |               &lt;div class="item-input"&gt;
          |                 &lt;input type="text" name="username" placeholder="Your username"/&gt;
          |               &lt;/div&gt;
          |             &lt;/div&gt;
          |           &lt;/li&gt;
          |           &lt;li class="item-content"&gt;
          |             &lt;div class="item-inner"&gt;
          |               &lt;div class="item-title label"&gt;Password&lt;/div&gt;
          |               &lt;div class="item-input"&gt;
          |                 &lt;input type="password" name="password" placeholder="Your password"/&gt;
          |               &lt;/div&gt;
          |             &lt;/div&gt;
          |           &lt;/li&gt;
          |         &lt;/ul&gt;
          |       &lt;/div&gt;
          |       &lt;div class="list-block"&gt;
          |         &lt;ul&gt;
          |           &lt;li&gt;&lt;a href="#" class="item-link list-button"&gt;Sign In&lt;/a&gt;&lt;/li&gt;
          |         &lt;/ul&gt;
          |         &lt;div class="list-block-label"&gt;
          |           &lt;p&gt;Click Sign In to close Login Screen&lt;/p&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/form&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;   
      p 
        em my-app.js       
      pre
        code
          | var myApp = new Framework7();
          | var $$ = Dom7;
          | 
          | var mainView = myApp.addView('.view-main');
          | 
          | myApp.onPageInit('login-screen', function (page) {
          |   var pageContainer = $$(page.container);
          |   pageContainer.find('.list-button').on('click', function () {
          |     var username = pageContainer.find('input[name="username"]').val();
          |     var password = pageContainer.find('input[name="password"]').val();
          |     // Handle username and password
          |     myApp.alert('Username: ' + username + ', Password: ' + password, function () {
          |       mainView.goBack();
          |     });
          |   });
          | });     
      .important-note
        p 注意，在登陆屏上我们有额外的"no-navbar"，"no-toolbar"和"no-swipeback"类，用来向用户隐藏导航元素。
