extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Message Bar | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content
      h1 消息栏
      p Framework7 comes with special resizealbe toolbar for usage with <a href="messages.html">Messages</a>
      h2 消息栏的结构
      p 消息栏的结构是很简单的:
      pre
        code
          | &lt;div class="toolbar messagebar" data-max-height="200"&gt;
          |   &lt;div class="toolbar-inner"&gt;
          |     &lt;textarea placeholder="Message"&gt;&lt;/textarea&gt;&lt;a href="#" class="link"&gt;Send&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;   
      p Where
        ul
          li <code>data-max-height</code> - 限制Message Bar的最大高度
      p 请注意它的位置，应该在”page“里边并且在"messages-content"前边:
      pre
        code
          | &lt;div class="page toolbar-fixed"&gt;
          |   &lt;!-- messagebar --&gt;
          |   &lt;div class="toolbar messagebar"&gt;
          |     &lt;div class="toolbar-inner"&gt;
          |       &lt;textarea placeholder="Message"&gt;&lt;/textarea&gt;&lt;a href="#" class="link"&gt;Send&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- messages-content --&gt;
          |   &lt;div class="page-content messages-content"&gt;
          |     &lt;div class="messages"&gt;
          |       ... messages
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
      h2 相关的方法
      .method-wrap
        p
          span.method myApp.destroyMessagebar(<span>container</span>) 
          span - 解绑所有的监听器和动作
        ul.method-parameters
          li
            span.parameter container
            |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS selector) - of message bar element (&lt;div class="messagebar"&gt;) or of page that contains message bar
      .method-wrap
        p
          span.method myApp.initMessagebar(<span>container</span>) 
          span - 在销毁之后绑定所有的事件和动作
        ul.method-parameters
          li
            span.parameter container
            |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS selector) - of message bar element (&lt;div class="messagebar"&gt;) or of page that contains message bar
      