extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = '消息 | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 消息
        p 消息组件为你的App提供了可视评论和消息系统。
        h2 消息组件布局
        pre
          code
            | ...   
            | &lt;div class="page"&gt;
            |   &lt;div class="page-content messages-content"&gt;
            |     &lt;div class="messages"&gt;
            |       &lt;!-- 时间戳 --&gt;
            |       &lt;div class="messages-date"&gt;Sunday, Feb 9 &lt;span&gt;12:58&lt;/span&gt;&lt;/div&gt;
            | 
            |       &lt;!-- 发送的消息 (默认为绿色背景，在右边) --&gt;
            |       &lt;div class="message message-sent"&gt;
            |         &lt;!-- Bubble with text --&gt;
            |         &lt;div class="message-text"&gt;Hello&lt;/div&gt;
            |       &lt;/div&gt;
            | 
            |       &lt;!-- 另一条发送的消息 --&gt;
            |       &lt;div class="message message-sent"&gt;
            |         &lt;!-- 文本气泡 --&gt;
            |         &lt;div class="message-text"&gt;How are you?&lt;/div&gt;
            |       &lt;/div&gt;
            | 
            |       &lt;!-- 接收的信息(默认为灰色背景，在左边) --&gt;
            |       &lt;div class="message message-with-avatar message-received"&gt;
            |         &lt;!-- Sender name --&gt;
            |         &lt;div class="message-name"&gt;Kate&lt;/div&gt;
            | 
            |         &lt;!-- 文本气泡 --&gt;
            |         &lt;div class="message-text"&gt;I am fine, thanks&lt;/div&gt;
            | 
            |         &lt;!-- 发送者头像 --&gt;
            |         &lt;div style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)" class="message-avatar"&gt;&lt;/div&gt;
            |       &lt;/div&gt;
            | 
            |       &lt;!-- 另一个时间戳 --&gt;
            |       &lt;div class="messages-date"&gt;Sunday, Feb 3 &lt;span&gt;11:58&lt;/span&gt;&lt;/div&gt;
            | 
            |       &lt;!-- Sent message with image --&gt;
            |       &lt;div class="message message-pic message-sent"&gt;
            |         &lt;!-- Bubble with image --&gt;
            |         &lt;div class="message-text"&gt;&lt;img src="http://lorempixel.com/300/300/"&gt;&lt;/div&gt;
            |         &lt;!-- Message label --&gt;
            |         &lt;div class="message-label"&gt;Delivered 2 days ago&lt;/div&gt;
            |       &lt;/div&gt;
            |     &lt;/div&gt;
            |   &lt;/div&gt;
            | &lt;/div&gt;        
            | ...   

        p 
          b 消息组件的页面布局:
        ul
          li
            p <code>"messages-content"</code> - 消息容器，应该加到"page-content"类上
          li
            p <code>"messages"</code> - 消息气泡的容器，必需
          li
            p <code>"messages-date"</code> - 单个时间戳容器，包含会话日期和时间（在&lt;span&gt;标签中）
          li
            p <code>"message"</code> - 单条消息
        p 
          b 单条消息的内部结构:
        ul
          li
            p <code>"message-name"</code> - 发送者名称
          li
            p <code>"message-text"</code> - 文本气泡
          li
            p <code>"message-avatar"</code> - 发送者头像
          li
            p <code>"message-label"</code> - 气泡下的文本标签
        p 
          b 单条消息容器的一些附加class
        ul
          li
            p <code>"message-sent"</code> - 标识一条被用户发送过的消息，它会位于容器的右侧并且拥有绿色的背景
          li
            p <code>"message-received"</code> - 标识一条被用户接收的消息，它会位于容器的左侧并且拥有灰色的背景
          li
            p <code>"message-pic"</code> - 为单条带&lt;img&gt;的消息添加类，除了image，该条消息不可以包括其他元素
          li
            p <code>"message-with-avatar"</code> - 包含头像
          li
            p <code>"message-with-tail"</code> - 包含一个小尾巴
        p
          b 单条消息的一个附加的class
        ul
          li
            p <code>"message-hide-name"</code> - 隐藏名字
          li
            p <code>"message-hide-avatar"</code> - 隐藏头像
          li
            p <code>"message-hide-label"</code> - 隐藏消息标签
          li
            p <code>"message-last"</code> - 如果这是一个发送者连续会话的最后一条，则带有一个小尾巴并且有更大的底部留白
          li
            p <code>"message-first"</code> - 如果这是一个发送者会话的第一条，则带有发送者的名称
          
        .important-note
          p 默认的布局中，新消息会出现在页面底部，如果需要让它出现在页面的顶部，你可以把"new-messages-first"类加到&lt;div class="messages"&gt;

        h2 消息自动布局
        p Framework7 可以自动帮我们添加所有的附加class（比如 "message-pic", "message-with-avatar", "message-with-tail" 等)。我们只需要在 <code>messages</code> 容器上面增加一个 <code>message-auto-layout</code> class即可：
        pre
          code
            | ...   
            |   &lt;div class="page-content messages-content"&gt;
            |     &lt;!-- Additional "messages-auto-layout" class--&gt;
            |     &lt;div class="messages messages-auto-layout"&gt;
            |       &lt;div class="messages-date"&gt;Sunday, Feb 9 &lt;span&gt;12:58&lt;/span&gt;&lt;/div&gt;
            | 
            |       &lt;div class="message message-sent"&gt;
            |         &lt;div class="message-text"&gt;Hello&lt;/div&gt;
            |       &lt;/div&gt;
            | 
            |       &lt;div class="message message-sent"&gt;
            |         &lt;div class="message-text"&gt;How are you?&lt;/div&gt;
            |       &lt;/div&gt;
            | 
            |       &lt;div class="message message-received"&gt;
            |         &lt;div class="message-name"&gt;Kate&lt;/div&gt;
            |         &lt;div class="message-text"&gt;I am fine, thanks&lt;/div&gt;
            |         &lt;div style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)" class="message-avatar"&gt;&lt;/div&gt;
            |       &lt;/div&gt;
            | 
            |       &lt;div class="messages-date"&gt;Sunday, Feb 3 &lt;span&gt;11:58&lt;/span&gt;&lt;/div&gt;
            | 
            |       &lt;div class="message message-sent"&gt;
            |         &lt;div class="message-text"&gt;&lt;img src="http://lorempixel.com/300/300/"&gt;&lt;/div&gt;
            |         &lt;div class="message-label"&gt;Delivered 2 days ago&lt;/div&gt;
            |       &lt;/div&gt;
            |     &lt;/div&gt;
            |   &lt;/div&gt;
            | ...   
        p 这样就可以了，Framework7会自动追加所有的附加class。你唯一需要做的只是写好 "message-sent", "message-received" 就行了。
        h2 JS API
        p 这里有几个App的方法，我们可以用来对消息进行一些操作：
        .method-wrap
          p
            span.method myApp.addMessage(<span>parameters</span>, <span>messagesContent</span>, <span>addToTop</span>) 
            span - 添加消息
          ul.method-parameters
            li
              span.parameter parameters
              |  - <span class="parameter-type">object</span> 消息参数，必选
            li
              span.parameter messagesContent
              |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of "messages-content" container. Useful if you have multiples messages container available in Dom at the same time. Optional.
            li
              span.parameter addToTop
              |  - <span class="parameter-type">boolean</span> message parameters. Set <code>true</code> and new message will be added to top (as a first message). Optional.

        .method-wrap
          p
            span.method myApp.updateMessagesLayout(<span>messagesContainer</span>) 
            span - 自动更新所有消息的所有附加class，比如"message-last", "message-first", "message-with-tail", 等.
          ul.method-parameters
            li
              span.parameter messagesContainer
              |  - 表示消息容器 (&lt;div class="messages"&gt;)的<span class="parameter-type">HTML元素</span>或<span class="parameter-type">CSS选择器</span>。必选

        .method-wrap
          p
            span.method myApp.scrollMessagesContainer(<span>messagesContent</span>) 
            span - 把消息内容（"messages-content"）以动画的形式滚动到最后一条
          ul.method-parameters
            li
              span.parameter messagesContent
              |  - 表示消息内容 (&lt;div class="page-content messages-content"&gt;)的<span class="parameter-type">HTML元素</span>或<span class="parameter-type">CSS选择器</span>。必选
        p 来看一下相关的参数和方法：
        table.params-table
          thead
            tr
              th 参数
              th 类型
              th 默认
              th 说明
          tbody
            tr
              td text
              td string
              td
              td 消息文本，也可以使用HTML字符串，如果你想要添加图片消息，则应该传递<code>&lt;img src="..."&gt;</code>。<b>必选</b>
            tr
              td name
              td string
              td
              td 发送者名称。<b>可选</b>
            tr
              td avatar
              td string
              td
              td 发送者头像url。<b>可选</b>
            tr
              td type
              td string
              td 'sent'
              td 消息类型，'sent'或'received'。<b>可选</b>
            tr
              td label
              td string
              td
              td Message label. <b>Optional</b>
            tr
              td day
              td string
              td 
              td 日期，例如 - 'Today', 'Monday', 'Yesterday', 'Fri', '22.05.2014'。<b>可选</b>
            tr
              td time
              td string
              td
              td 时间，例如 - '22:45', '10:30 AM'。<b>可选</b>
      h2(data-device-preview="../docs-demos/messages.html") 实例
      pre
        code
          | &lt;div class="page toolbar-fixed"&gt;
          |   &lt;div class="page-content messages-content"&gt;
          |     &lt;div class="messages messages-auto-layout"&gt;
          |       &lt;div class="messages-date"&gt;Sunday, Feb 9 &lt;span&gt;12:58&lt;/span&gt;&lt;/div&gt;
          |       &lt;div class="message message-sent"&gt;
          |         &lt;div class="message-text"&gt;Hello&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="message message-sent"&gt;
          |         &lt;div class="message-text"&gt;How are you?&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="message message-received"&gt;
          |         &lt;div class="message-name"&gt;Kate&lt;/div&gt;
          |         &lt;div class="message-text"&gt;I am fine, thanks&lt;/div&gt;
          |         &lt;div style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)" class="message-avatar"&gt;&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="messages-date"&gt;Sunday, Feb 3 &lt;span&gt;11:58&lt;/span&gt;&lt;/div&gt;
          |       &lt;div class="message message-sent"&gt;
          |         &lt;div class="message-text"&gt;Nice photo?&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="message message-sent message-pic"&gt;
          |         &lt;div class="message-text"&gt;&lt;img src="http://lorempixel.com/300/300/"&gt;&lt;/div&gt;
          |         &lt;div class="message-label"&gt;Delivered&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="message message-received"&gt;
          |         &lt;div class="message-name"&gt;Kate&lt;/div&gt;
          |         &lt;div class="message-text"&gt;Wow, awesome!&lt;/div&gt;
          |         &lt;div style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)" class="message-avatar"&gt;&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | // 会话flag
          | var conversationStarted = false;
          | 
          | // 处理消息
          | $$('.messagebar .link').on('click', function () {
          |   var textarea = $$('.messagebar textarea');
          |   // 消息文本
          |   var messageText = textarea.val().trim();
          |   // 如果没有消息，则退出
          |   if (messageText.length === 0) return;
          | 
          |   // 空textarea
          |   textarea.val('').trigger('change');
          | 
          |   // 随机消息类型
          |   var messageType = (['sent', 'received'])[Math.round(Math.random())];
          | 
          |   // 接收的消息的头像和名称
          |   var avatar, name;
          |   if(messageType === 'received') {
          |     avatar = 'http://lorempixel.com/output/people-q-c-100-100-9.jpg';
          |     name = 'Kate';
          |   }
          |   // 添加消息
          |   myApp.addMessage({
          |     // 消息文本
          |     text: messageText,
          |     // 随机消息类型
          |     type: messageType,
          |     // 头像和名称
          |     avatar: avatar,
          |     name: name,
          |     // 日期
          |     day: !conversationStarted ? 'Today' : false,
          |     time: !conversationStarted ? (new Date()).getHours() + ':' + (new Date()).getMinutes() : false
          |   })
          | 
          |   // 更新会话flag
          |   conversationStarted = true;
          | });             
