extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Notifications | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 通知
        p 使用通知组件，你可以向用户展示和iOS远程推送通知或本地通知类似的通知消息。
        
        h2 JS API
        p 我们需要通过调用App相关的方法来创建/关闭通知
        .method-wrap
          p
            span.method myApp.addNotification(<span>parameters</span>) 
            span - 通过指定的参数来创建/显示通知
          ul.method-parameters
            li
              span.parameter parameters
              |  - <span class="parameter-type">object</span> 包含通知相关的参数（如下表）。 必选
            li.method-returns 方法返回一个动态创建的通知体的HTML元素
        .method-wrap
          p
            span.method myApp.closeNotification(<span>notificationElement</span>) 
            span - 关闭指定的通知
          ul.method-parameters
            li
              span.parameter notificationElement
              |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (通知对应HTML元素的CSS选择器)。 必选
        
        p 创建一个通知所需要的参数:
        table.params-table
          thead
            tr
              th 参数
              th 类型
              th 默认值
              th 参数说明
          tbody
            tr
              td title
              td string
              td 
              td 标题. 默认和App参数中的 <code>notificationTitle</code> 相同，为 <code>undefined</code>
            tr
              td subtitle
              td string
              td 
              td 子标题，默认和App参数中的 <code>notificationSubtitle</code> 相同，为 <code>undefined</code>
            tr
              td media
              td string
              td 
              td 媒体元素（图标或图片） - 包含icon或图片的HTML片段。默认和App参数中的 <code>notificationMedia</code> 相同，为 <code>undefined</code>
            tr
              td hold
              td number
              td 
              td 通知的停驻时间（毫秒为单位），如果指定了该参数，那么通知将在指定的时间过后关闭。默认和App参数中的 <code>notificationHold</code> 相同，为 <code>undefined</code>
            tr
              td closeIcon
              td boolean
              td true
              td 是否显示关闭按钮。默认和App参数中的 <code>notificationCloseIcon</code> 相同，为 <code>true</code>
            tr
              td closeOnClick
              td boolean
              td false
              td 点击通知的HTML元素时，是否关闭通知。默认和App参数中的 <code>notificationCloseOnClick</code> 相同，为 <code>false</code>
            tr
              td additionalClass
              td string
              td 
              td 添加给通知HTML元素的className，一般用于自定义样式
            
            tr
              td custom
              td string
              td 
              td 给通知自定义HTML内容结构（如果你想的话）。<strong>如果使用的"custom"参数，"title", "subtitle", "media" 和 "closeIcon" 参数会被忽略。</strong>
            tr
              td onClick
              td function
              td 
              td 点击通知HTML元素的回调函数
            tr
              td onClose
              td function
              td 
              td 通知关闭的回调函数（无论是手动关闭还是通过调用 <code>myApp.closeNotification</code>方法，都会执行）

        h2 HTML 布局
        p 通知仅仅是<a href="media-list-view.html">Media List View</a>的一种特殊形式。由于一般情况下通知都是直接被javascript调用，因此你通常不需要手动指定它的HTML布局。但是了解它对于理解其原理和自定义样式会非常有帮助。当你创建一个F7通知是，如下形式的"通知"div将被添加到body元素中。
        pre
          code
            | &lt;body&gt;
            |   ...
            |   &lt;div class="notifications list-block media-list"&gt;
            |     &lt;ul&gt;
            | 
            |       &lt;!-- Single notification item --&gt;
            |       &lt;li class="notification-item"&gt;
            |         &lt;div class="item-content"&gt;
            |           &lt;div class="item-media"&gt;
            |             &lt;!-- Notification media --&gt;
            |           &lt;/div&gt;
            |           &lt;div class="item-inner"&gt;
            |             &lt;div class="item-title-row"&gt;
            |               &lt;div class="item-title"&gt;
            |                 &lt;!-- Notification title --&gt;
            |               &lt;/div&gt;
            |               &lt;div class="item-after"&gt;
            |                   &lt;!-- Notification close icon --&gt;
            |                   &lt;a href="#" class="close-notification"&gt;&lt;/a&gt;
            |               &lt;/div&gt;
            |             &lt;/div&gt;
            |             &lt;div class="item-subtitle"&gt;
            |               &lt;!-- Notification subtitle --&gt;
            |             &lt;/div&gt;
            |             &lt;div class="item-text"&gt;
            |               &lt;!-- Notification message --&gt;
            |             &lt;/div&gt;
            |           &lt;/div&gt;
            |         &lt;/div&gt;
            |       &lt;/li&gt;
            | 
            |     &lt;/ul&gt;
            |   &lt;/div&gt;    
            | &lt;/body&gt;
        p 自定义通知将添加如下的"通知"div到body元素中：
        pre
          code
            | &lt;body&gt;
            |   ...
            |   &lt;div class="notifications list-block media-list"&gt;
            |     &lt;ul&gt;
            | 
            |       &lt;!-- Single notification item --&gt;
            |       &lt;li class="notification-item"&gt;
            |         &lt;!-- Custom notification content --&gt;
            |       &lt;/li&gt;
            | 
            |     &lt;/ul&gt;
            |   &lt;/div&gt;    
            | &lt;/body&gt;  
      h2(data-device-preview="../docs-demos/notifications.html") 示例
      pre
        code
          | &lt;div class="page-content"&gt;
          |   &lt;div class="content-block"&gt;
          |     &lt;p&gt;&lt;a href="#" class="button notification-default"&gt;默认通知&lt;/a&gt;&lt;/p&gt;
          |     &lt;p&gt;&lt;a href="#" class="button notification-full"&gt;包含所有元素&lt;/a&gt;&lt;/p&gt;
          |     &lt;p&gt;&lt;a href="#" class="button notification-custom"&gt;包含自定义图片&lt;/a&gt;&lt;/p&gt;
          |     &lt;p&gt;&lt;a href="#" class="button notification-callback"&gt;关闭时触发回调函数&lt;/a&gt;&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt; 
      pre
        code
          | var myApp = new Framework7();
          | var mainView = myApp.addView('.view-main');
          | 
          | var $$ = Dom7;
          | 
          | $$('.notification-default').on('click', function () {
          |     myApp.addNotification({
          |         title: 'Framework7',
          |         message: '这是一个包含标题和消息内容的简单通知'
          |     });
          | });
          | $$('.notification-full').on('click', function () {
          |     myApp.addNotification({
          |         title: 'Framework7',
          |         subtitle: '通知子标题',
          |         message: 'This is a simple notification message with custom icon and subtitle',
          |         message: '这是一个包含自定义icon和子标题的通知',
          |         media: '&lt;i class="icon icon-f7"&gt;&lt;/i&gt;'
          |     });
          | });
          | $$('.notification-custom').on('click', function () {
          |     myApp.addNotification({
          |         title: '真是个酷炫狂拽的App',
          |         subtitle: '来自土豆的消息',
          |         message: '地瓜地瓜，土豆呼叫地瓜。在9点方向发现如花，BalaBalaBala',
          |         media: '&lt;img width="44" height="44" style="border-radius:100%" src="http://lorempixel.com/output/people-q-c-100-100-9.jpg"&gt;'
          |     });
          | });
          | $$('.notification-callback').on('click', function () {
          |     myApp.addNotification({
          |         title: '真是个酷炫狂拽的App',
          |         subtitle: '来自土豆的消息',
          |         message: '地瓜地瓜，土豆呼叫地瓜。在9点方向发现如花，BalaBalaBala',
          |         media: '&lt;img width="44" height="44" style="border-radius:100%" src="http://lorempixel.com/output/people-q-c-100-100-9.jpg"&gt;',
          |         onClose: function () {
          |             myApp.alert('通知被关闭了~');
          |         }
          |     });
          | });