extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = '通知 | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 通知
        p 使用通知组件，你可以让消息看起来像iOS的推送通知一样。
        
        h2 通知组件JavaScript API
        p 要想创建/关闭通知，我们需要调用相关的App方法
        .method-wrap
          p
            span.method myApp.addNotification(<span>parameters</span>) 
            span - 通过指定的参数来创建/显示通知
          ul.method-parameters
            li
              span.parameter parameters
              |  - 包含通知相关的参数的<span class="parameter-type">对象</span>。必选。
            li.method-returns 方法返回一个动态创建的通知体的HTML元素
        .method-wrap
          p
            span.method myApp.closeNotification(<span>notificationElement</span>) 
            span - 关闭指定的通知
          ul.method-parameters
            li
              span.parameter notificationElement
              |  - 通知元素的<span class="parameter-type">HTML元素</span>或<span class="parameter-type">CSS选择器</span>。必选。
        
        p 创建一个通知所需要的参数：
        table.params-table
          thead
            tr
              th 参数（Parameter）
              th 类型（Type）
              th 默认值（Default）
              th 参数说明（Description）
          tbody
            tr
              td title
              td string
              td 
              td 标题。默认和App参数中的<code>notificationTitle</code>相同，为<code>undefined</code><span class="ios-only">iOS theme only</span>
            tr
              td subtitle
              td string
              td 
              td 副标题。默认和App参数中的<code>notificationSubtitle</code>相同，为<code>undefined</code><span class="ios-only">iOS theme only</span>
            tr
              td media
              td string
              td 
              td 媒体元素（图标或图片） - 包含icon或图片的HTML片段。默认和App参数中的<code>notificationMedia</code>相同，为<code>undefined</code><span class="ios-only">iOS theme only</span>
            tr
              td hold
              td number
              td 
              td 通知的停驻时间（单位ms），如果指定了该参数，那么通知将在指定的时间后自动关闭。默认和App参数中的<code>notificationHold</code>相同，为<code>undefined</code>
            tr
              td closeIcon
              td boolean
              td true
              td 是否显示关闭按钮。默认和App参数中的<code>notificationCloseIcon</code>相同，为<code>true</code><span class="ios-only">iOS theme only</span>
            tr
              td button
              td object
              td 
              td Material notification button. Accepts 3 properties:
                pre
                  code.js
                    | {
                    |   text: 'close',
                    |   color: 'blue',
                    |   close: true
                    | }
                p Where
                ul
                  li <code>text</code> - button text. By default equal to <code>notificationCloseButtonText</code> App's parameter
                  li <code>color</code> - button color
                  li <code>close</code> - close notification on button click
                p <span class="material-only">Material theme only</span>
            tr
              td closeOnClick
              td boolean
              td false
              td 点击通知的HTML元素时，是否关闭通知。默认和App参数中的<code>notificationCloseOnClick</code>相同，为<code>false</code>
            tr
              td additionalClass
              td string
              td 
              td 添加给通知HTML元素的类，一般用于自定义样式
            
            tr
              td custom
              td string
              td 
              td 给通知自定义HTML内容结构（如果你想的话）。<strong>如果使用"custom"参数，"title"，"subtitle"，"media"和"closeIcon"参数会被忽略。</strong>
            tr
              td onClick
              td function
              td 
              td 点击通知HTML元素的回调函数
            tr
              td onClose
              td function
              td 
              td 通知关闭的回调函数（无论是手动关闭还是通过调用<code>myApp.closeNotification</code>方法，都会执行）

        h2 HTML布局
        p 通知仅仅是<a href="media-list-view.html">多媒体列表</a>的一种特殊形式。由于一般情况下通知都是直接被javascript调用，因此你通常不需要手动指定它的HTML布局。但是了解它对于理解其原理和自定义样式会非常有帮助。当你创建一个通知时，F7会添加如下形式的"notifications"div到列表区元素中。
        pre
          code
            | &lt;body&gt;
            |   ...
            |   &lt;div class="notifications list-block media-list"&gt;
            |     &lt;ul&gt;
            | 
            |       &lt;!-- 单个通知条目 --&gt;
            |       &lt;li class="notification-item"&gt;
            |         &lt;div class="item-content"&gt;
            |           &lt;div class="item-media"&gt;
            |             &lt;!-- 通知多媒体 --&gt;
            |           &lt;/div&gt;
            |           &lt;div class="item-inner"&gt;
            |             &lt;div class="item-title-row"&gt;
            |               &lt;div class="item-title"&gt;
            |                 &lt;!-- 通知标题 --&gt;
            |               &lt;/div&gt;
            |               &lt;div class="item-after"&gt;
            |                   &lt;!-- 通知关闭图标 --&gt;
            |                   &lt;a href="#" class="close-notification"&gt;&lt;/a&gt;
            |               &lt;/div&gt;
            |             &lt;/div&gt;
            |             &lt;div class="item-subtitle"&gt;
            |               &lt;!-- 通知副标题 --&gt;
            |             &lt;/div&gt;
            |             &lt;div class="item-text"&gt;
            |               &lt;!-- 通知消息 --&gt;
            |             &lt;/div&gt;
            |           &lt;/div&gt;
            |         &lt;/div&gt;
            |       &lt;/li&gt;
            | 
            |     &lt;/ul&gt;
            |   &lt;/div&gt;    
            | &lt;/body&gt;
        p 自定义通知的布局如下：
        pre
          code
            | &lt;body&gt;
            |   ...
            |   &lt;div class="notifications list-block media-list"&gt;
            |     &lt;ul&gt;
            | 
            |       &lt;!-- 单个通知条目 --&gt;
            |       &lt;li class="notification-item"&gt;
            |         &lt;!-- 自定义通知内容 --&gt;
            |       &lt;/li&gt;
            | 
            |     &lt;/ul&gt;
            |   &lt;/div&gt;    
            | &lt;/body&gt;  
      h2(data-device-preview="../docs-demos/notifications.html") iOS 示例
      pre
        code
          | &lt;div class="page-content"&gt;
          |   &lt;div class="content-block"&gt;
          |     &lt;p&gt;&lt;a href="#" class="button notification-default"&gt;默认通知&lt;/a&gt;&lt;/p&gt;
          |     &lt;p&gt;&lt;a href="#" class="button notification-full"&gt;包含所有元素&lt;/a&gt;&lt;/p&gt;
          |     &lt;p&gt;&lt;a href="#" class="button notification-custom"&gt;包含自定义图片&lt;/a&gt;&lt;/p&gt;
          |     &lt;p&gt;&lt;a href="#" class="button notification-callback"&gt;关闭时触发回调函数&lt;/a&gt;&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt; 
      pre
        code
          | var myApp = new Framework7();
          | var mainView = myApp.addView('.view-main');
          | 
          | var $$ = Dom7;
          | 
          | $$('.notification-default').on('click', function () {
          |     myApp.addNotification({
          |         title: 'Framework7',
          |         message: '这是一个包含标题和消息内容的简单通知'
          |     });
          | });
          | $$('.notification-full').on('click', function () {
          |     myApp.addNotification({
          |         title: 'Framework7',
          |         subtitle: '通知副标题',
          |         message: 'This is a simple notification message with custom icon and subtitle',
          |         message: '这是一个包含自定义icon和副标题的通知',
          |         media: '&lt;i class="icon icon-f7"&gt;&lt;/i&gt;'
          |     });
          | });
          | $$('.notification-custom').on('click', function () {
          |     myApp.addNotification({
          |         title: '真是个酷炫狂拽的App',
          |         subtitle: '来自土豆的消息',
          |         message: '地瓜地瓜，土豆呼叫地瓜。在9点方向发现如花，BalaBalaBala',
          |         media: '&lt;img width="44" height="44" style="border-radius:100%" src="http://lorempixel.com/output/people-q-c-100-100-9.jpg"&gt;'
          |     });
          | });
          | $$('.notification-callback').on('click', function () {
          |     myApp.addNotification({
          |         title: '真是个酷炫狂拽的App',
          |         subtitle: '来自土豆的消息',
          |         message: '地瓜地瓜，土豆呼叫地瓜。在9点方向发现如花，BalaBalaBala',
          |         media: '&lt;img width="44" height="44" style="border-radius:100%" src="http://lorempixel.com/output/people-q-c-100-100-9.jpg"&gt;',
          |         onClose: function () {
          |             myApp.alert('通知被关闭了~');
          |         }
          |     });
          | });
      h2(data-device-preview="../docs-demos/notifications-material.html") Material 示例
      pre
        code
          | var myApp = new Framework7({
          |   material: true
          | }); 
          | var mainView = myApp.addView('.view-main');
          | 
          | var $$ = Dom7;
          | 
          | $$('.notification-single').on('click', function () {
          |     myApp.addNotification({
          |         message: 'Simple message'
          |     });
          | });
          | $$('.notification-multi').on('click', function () {
          |     myApp.addNotification({
          |         message: 'Multi-line message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in magna nisi.',
          |     });
          | });
          | $$('.notification-custom').on('click', function () {
          |     myApp.addNotification({
          |         message: 'Nice yellow button',
          |         button: {
          |             text: 'Click me',
          |             color: 'yellow'
          |         }
          |     });
          | });
          | $$('.notification-callback').on('click', function () {
          |     myApp.addNotification({
          |         message: 'Close me to see Alert',
          |         button: {
          |             text: 'Close Me',
          |             color: 'lightgreen'
          |         },
          |         onClose: function () {
          |             myApp.alert('Notification closed');
          |         }
          |     });
          | });          
