extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Dynamic Pages | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content
      h1 动态页面
      p Framework7 可以创建动态页面并直接加载，不需要额外的Ajax请求。
      p 只有通过 <a href="router-api.html">路由器 API</a> 才可以实现。
      p 加载页面的结构、禁用滑动返回上一页和返回上一页等，所有这些需要考虑的事情都和 <a href="pages-ajax.html">Ajax Pages</a> 是一样的。
      p 我们只需要使用视图的 <code>.router.loadContent</code> 方法，并且传入我们新页面的HTML代码即可。
      pre
        code
          | // Init app
          | var myApp = new Framework7();
          | 
          | // Init main view
          | var mainView = myApp.addView('.view-main');
          | 
          | // HTML Content of new page:
          | var newPageContent = '&lt;div class="page" data-page="my-page"&gt;' +
          |                         '&lt;div class="page-content"&gt;' +
          |                           '&lt;p&gt;Here comes new page&lt;/p&gt;' +
          |                         '&lt;/div&gt;' +
          |                       '&lt;/div&gt;';
          | 
          | //Load new content as new page
          | mainView.router.loadContent(newPageContent);
          | 
          | // OR using .load method if need more options
          | mainView.router.load({
          |   content: newPageContent,
          |   animatePages: false
          | });
      p 因为写多行JS代码很不方便，所以我们一般把模板直接存在在 index.html 中的script标签中：
      pre
        code.js
          | &lt;script type="text/template" id="myPage"&gt;
          |     &lt;div class="navbar"&gt;
          |         &lt;div class="navbar-inner"&gt;
          |             &lt;div class="center"&gt;My Page&lt;/div&gt;
          |         &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="page" data-page="my-page"&gt;
          |         &lt;div class="page-content"&gt;
          |             &lt;p&gt;Here comes page content&lt;/p&gt;
          |         &lt;/div&gt;
          |     &lt;/div&gt;
          | &lt;/script&gt;  
      p 在JS中只需要这样:
      pre
        code.js
          | mainView.router.loadContent($('#myPage').html());
      h2 动态页面的URL
      p 默认情况下，动态页面的url是这样的：<code>#content-{{index}}</code>,其中 {{index}} 是浏览历史中的序号。你可以在  <a href="init-app.html">初始化应用</a> 的时候传入一个 <code>dynamicPageUrl</code> 来改变。
