extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Search Bar | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 搜索栏
        p 搜索栏允许用户在<a href="list-view.html">列表</a>元素中搜索，或者它可以用来作为UI组件，放到你自己的搜索实现中。
        h2 搜索栏布局
        p 搜索栏应该放到“.page”内，“.page-content”前：
        pre
          code
            | &lt;div class="page"&gt;
            |     &lt;!-- Search bar --&gt;
            |     &lt;form class="searchbar" data-search-list=".list-block-search" data-search-in=".item-title" data-searchbar-found=".searchbar-found" data-searchbar-not-found=".searchbar-not-found"&gt;
            |         &lt;div class="searchbar-input"&gt;
            |             &lt;input type="search" placeholder="Search"&gt;
            |             &lt;a href="#" class="searchbar-clear"&gt;&lt;/a&gt;
            |         &lt;/div&gt;
            |         &lt;a href="#" class="searchbar-cancel"&gt;Cancel&lt;/a&gt;
            |     &lt;/form&gt;
            |     
            |     &lt;!-- Search bar overlay--&gt;
            |     &lt;div class="searchbar-overlay"&gt;&lt;/div&gt;
            |     
            |     &lt;!-- Page content --&gt;
            |     &lt;div class="page-content"&gt;
            |         &lt;div class="content-block searchbar-not-found"&gt;
            |                 Nothing found
            |         &lt;/div&gt;
            | 
            |         &lt;div class="list-block list-block-search searchbar-found"&gt;
            |             &lt;ul&gt;
            |                 ... list view items ...
            |             &lt;/ul&gt;
            |         &lt;/div&gt;
            |     &lt;/div&gt;
            | &lt;/div&gt;
        p 其中：
        ul
          li <code>form class="searchbar"</code> - 主要的搜索栏容器。它不必是个form元素，但推荐如此。
            ul
              li <code>div class="searchbar-input"</code> - 搜索区域和取消按钮的容器
                ul
                  li <code>input type="search"</code> - 搜索区域
                  li <code>a class="searchbar-clear"</code> - 清空和重置搜索结果的按钮。可选元素。
              li <code>a class="searchbar-cancel"</code> - 搜索栏取消按钮，它会关闭搜索栏，重置搜索结果和清空搜索区域。可选元素。
          li <code>data-search-list</code> 
          该属性包含搜索列表块的CSS选择器，如果没有指定，搜索栏不会搜索任何东西。
          li <code>data-search-in</code> 该属性包含我们想要搜索的列表元素CSS选择器，通常我们搜索元素的标题。可选属性。如果没有指定，搜索栏不会搜索任何东西。
          li <code>data-searchbar-found</code> 该属性包含搜索到的元素的CSS选择器。可选属性。如果没有指定，搜索栏会在相同页面内寻找这个元素。如果同时拥有几个搜索栏，这个属性会起作用。
          li <code>data-searchbar-not-found</code> 该属性包含未搜索到的元素的CSS选择器。可选属性。如果没有指定，搜索栏会在相同页面内寻找这个元素。如果同时拥有几个搜索栏，这个属性会起作用。
          li <code>div class="searchbar-overlay"</code> - 紧挨着搜索栏之后添加这个元素，当搜索栏起作用时，它对页面添加暗色遮罩。可选元素。
          li <code>"searchbar-found"</code> - 如果搜索栏发现了匹配的元素，含有这个类的元素会显示出来。默认是可见的。可选元素。
          li <code>"searchbar-not-found"</code> - 如果搜索栏没有发现匹配的元素，含有这个类的元素会显示出来。默认是隐藏的。可选元素。

      h2(data-device-preview="../docs-demos/searchbar.html") 搜索栏示例
      pre
        code
          | &lt;div data-page="home" class="page"&gt;
          |   &lt;!-- Search bar --&gt;
          |   &lt;form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar"&gt;
          |     &lt;div class="searchbar-input"&gt;
          |       &lt;input type="search" placeholder="Search"&gt;&lt;a href="#" class="searchbar-clear"&gt;&lt;/a&gt;
          |     &lt;/div&gt;&lt;a href="#" class="searchbar-cancel"&gt;Cancel&lt;/a&gt;
          |   &lt;/form&gt;
          | 
          |   &lt;!-- Search bar overlay --&gt;
          |   &lt;div class="searchbar-overlay"&gt;&lt;/div&gt;
          | 
          |   &lt;div class="page-content"&gt;
          |     &lt;!-- This block will be displayed if nothing found --&gt;
          |     &lt;div class="content-block searchbar-not-found"&gt;
          |       &lt;div class="content-block-inner"&gt;Nothing found&lt;/div&gt;
          |     &lt;/div&gt;
          | 
          |     &lt;!-- This block will be displayed if anything found, and this list block is used a searbar target --&gt;
          |     &lt;div class="list-block list-block-search searchbar-found"&gt;
          |       &lt;ul&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Acura &lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Audi&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         ...
          |       &lt;/ul&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;          
      .full-width.stop-scroll-device
        h2 搜索栏JavaScript事件
        table.events-table
          thead
            tr
              th 事件
              th 目标
              th 描述
          tbody
            tr
              td 搜索
              td 在"data-search-list"<span>&lt;div class="list-block"&gt;</span>中被指定的列表元素
              td 在搜索过程中（搜索域改变）事件会被触发。事件包含搜索请求(e.detail.query)和找到的HTML元素(e.detail.foundItems)
            tr
              td 清空搜索
              td 在"data-search-list"<span>&lt;div class="list-block"&gt;</span>中被指定的列表元素
              td 当用户点击搜索栏“清空”按钮(a href="#" class="searchbar-clear")的时候，事件被触发
            tr
              td 启用搜索
              td 在"data-search-list"<span>&lt;div class="list-block"&gt;</span>中被指定的列表元素
              td 当搜索栏起作用时，事件被触发
            tr
              td 禁用搜索
              td 在"data-search-list"<span>&lt;div class="list-block"&gt;</span>中被指定的列表元素
              td 当搜索栏被禁用时 - 用户点击“取消”按钮或"searchbar-overlay"元素，事件被触发

        h2 相关App方法
        .method-wrap
          p
            span.method myApp.destroySearchbar(<span>container</span>) 
            span - 解绑所有的搜索栏事件和行为
          ul.method-parameters
            li
              span.parameter container
              |  - <span class="parameter-type">HTML元素</span>或（含有CSS选择器的）<span class="parameter-type">字符串</span> - 该元素是搜索栏或包含搜索栏的页面
        .method-wrap
          p
            span.method myApp.initSearchbar(<span>container</span>) 
            span - 在销毁搜索栏之后，再次绑定所有的搜索栏事件和行为
          ul.method-parameters
            li
              span.parameter container
              |  - <span class="parameter-type">HTML元素</span>或（含有CSS选择器的）<span class="parameter-type">字符串</span> - 该元素是搜索栏或包含搜索栏的页面
        