extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Support API | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content
      h1 Support API
      p Framework7也拥有特性检测库。在你<a href="init-app.html">初始化应用</a>之后，你可以访问<code>myApp.support</code>对象，它包含了支持的特性的信息：
      table.methods-table
        tr
          td myApp.support.touch
          td <em>boolean</em>. 如果浏览器支持触屏事件（touchstart, touchmove, touchend），为true
        
      h2 未经初始化或在初始化之前访问Support对象
      p 也可以通过原型来访问Support对象的参数：
      pre
        code
          | var support = Framework7.prototype.support;
          | if (support.touch) {
          |   console.log('Browser has touch event')
          | }
      