extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Swipeout | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 滑动操作列表（可滑动列表）
        p 滑动操作列表是<a href="list-view.html">列表</a>的扩展，它提供滑动操作的功能，滑动列表元素可以展现隐藏的功能菜单，就像滑动删除一样。
        p 让我们来看一下滑动列表元素的布局结构：
        pre
          code
            | &lt;div class="list-block"&gt;
            |   &lt;ul&gt;
            |     &lt;!-- li上额外的“swipeout”类 --&gt;
            |     &lt;li class="swipeout"&gt;
            |       &lt;!-- 被“swipeout-content”包裹起来的普通列表元素 --&gt;
            |       &lt;div class="swipeout-content"&gt;
            |         &lt;!-- 你的列表元素放在这里 --&gt;
            |         &lt;div class="item-content"&gt;
            |           &lt;div class="item-media"&gt;...&lt;/div&gt;
            |           &lt;div class="item-inner"&gt;...&lt;/div&gt;
            |         &lt;/div&gt;
            |       &lt;/div&gt;
            |       &lt;!-- Swipeout actions left --&gt;
            |       &lt;div class="swipeout-actions-left"&gt;
            |         &lt;!-- Swipeout actions links/buttons --&gt;
            |         &lt;a href="#"&gt;Action 1&lt;/a&gt;
            |         &lt;a href="#"&gt;Action 2&lt;/a&gt;
            |       &lt;/div&gt;
            |       &lt;!-- Swipeout actions right --&gt;
            |       &lt;div class="swipeout-actions-right"&gt;
            |         &lt;!-- Swipeout actions links/buttons --&gt;
            |         &lt;a href="#"&gt;Action 1&lt;/a&gt;
            |         &lt;a href="#"&gt;Action 2&lt;/a&gt;
            |       &lt;/div&gt;
            |     &lt;/li&gt;
            |     ...
            |   &lt;/ul&gt;
            | &lt;/div&gt;
        p 其中：
        ul
          li <code>swipeout-content</code> - 列表元素的容器，它会随着滑动操作移动
          li <code>swipeout-actions-left</code> - 向左滑动的按钮和链接的容器
          li <code>swipeout-actions-right</code> - 向左滑动的按钮和链接的容器
        .important-note
          p 注意，<strong>swipeout-content</strong>和<strong>swipeout-actions-left/right</strong>应该是<strong>&lt;li&gt;</strong>的直接子元素
        p 如果只含有“item-content”类的子元素，可以将“item-content”类加到“swipeout-content”元素上，以简化结构：
        pre
          code
            | &lt;li class="swipeout"&gt;
            |   &lt;div class="swipeout-content item-content"&gt;
            |     &lt;div class="item-media"&gt;...&lt;/div&gt;
            |     &lt;div class="item-inner"&gt;...&lt;/div&gt;
            |   &lt;/div&gt;
            |   &lt;div class="swipeout-actions-right"&gt;
            |     &lt;a href="#"&gt;Action 1&lt;/a&gt;
            |     &lt;a href="#"&gt;Action 2&lt;/a&gt;
            |   &lt;/div&gt;
            | &lt;/li&gt;
        p 如果使用的是<a href="list-view.html#链接元素">链接元素</a>，你可以将上述的类都加到链接元素上：
        pre
          code
            | &lt;li class="swipeout"&gt;
            |   &lt;a href="#" class="swipeout-content item-content item-link"&gt;
            |     &lt;div class="item-media"&gt;...&lt;/div&gt;
            |     &lt;div class="item-inner"&gt;...&lt;/div&gt;
            |   &lt;/a&gt;
            |   &lt;div class="swipeout-actions-right"&gt;
            |     &lt;a href="#"&gt;Action 1&lt;/a&gt;
            |     &lt;a href="#"&gt;Action 2&lt;/a&gt;
            |   &lt;/div&gt;
            | &lt;/li&gt;
      h4(data-device-preview="../docs-demos/swipeout.html") 示例
      pre
        code
          | &lt;!-- On right side --&gt;
          | &lt;div class="list-block"&gt;
          |   &lt;ul&gt;
          |     &lt;li class="swipeout"&gt;
          |       &lt;div class="swipeout-content item-content"&gt;
          |         &lt;div class="item-media"&gt;...&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="swipeout-actions-right"&gt;
          |         &lt;a href="#" class="action1"&gt;Action 1&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     &lt;li class="swipeout"&gt;
          |       &lt;div class="swipeout-content item-content"&gt;
          |         &lt;div class="item-media"&gt;...&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="swipeout-actions-right"&gt;
          |         &lt;a href="#" class="action1 bg-orange"&gt;Action 1&lt;/a&gt;
          |         &lt;a href="#" class="action2"&gt;Action 2&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;
          | 
          | &lt;!-- On left side --&gt;
          | &lt;div class="list-block"&gt;
          |   &lt;ul&gt;
          |     &lt;li class="swipeout"&gt;
          |       &lt;div class="swipeout-content item-content"&gt;
          |         &lt;div class="item-media"&gt;...&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="swipeout-actions-left"&gt;
          |         &lt;a href="#" class="action1"&gt;Action 1&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     &lt;li class="swipeout"&gt;
          |       &lt;div class="swipeout-content item-content"&gt;
          |         &lt;div class="item-media"&gt;...&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="swipeout-actions-left"&gt;
          |         &lt;a href="#" class="action1 bg-orange"&gt;Action 1&lt;/a&gt;
          |         &lt;a href="#" class="action2"&gt;Action 2&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;
          | 
          | &lt;!-- On both sides --&gt;
          | &lt;div class="list-block"&gt;
          |   &lt;ul&gt;
          |     &lt;li class="swipeout"&gt;
          |       &lt;div class="swipeout-content item-content"&gt;
          |         &lt;div class="item-media"&gt;...&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="swipeout-actions-left"&gt;
          |         &lt;a href="#" class="action1"&gt;Action L1&lt;/a&gt;
          |       &lt;/div&gt;
          |       &lt;div class="swipeout-actions-right"&gt;
          |         &lt;a href="#" class="action1"&gt;Action R1&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     &lt;li class="swipeout"&gt;
          |       &lt;div class="swipeout-content item-content"&gt;
          |         &lt;div class="item-media"&gt;...&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="swipeout-actions-left"&gt;
          |         &lt;a href="#" class="action1 bg-pink"&gt;Action L1&lt;/a&gt;
          |         &lt;a href="#" class="action2 bg-lightblue"&gt;Action L2&lt;/a&gt;
          |       &lt;/div&gt;
          |       &lt;div class="swipeout-actions-right"&gt;
          |         &lt;a href="#" class="action1 bg-orange"&gt;Action R1&lt;/a&gt;
          |         &lt;a href="#" class="action2"&gt;Action R2&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;

      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.action1').on('click', function () {
          |   myApp.alert('Action 1');
          | });
          | $$('.action2').on('click', function () {
          |   myApp.alert('Action 2');
          | });
      h2(data-device-preview="../docs-demos/swipe-delete.html")滑动删除（Swipe To Delete）
      p 在Framework7中使用滑动删除不需要写Javascript代码，只需要将&lt;a class="swipeout-delete"&gt;链接加入到滑动菜单中的按钮上：
      pre
        code
          | &lt;li class="swipeout"&gt;
          |   &lt;div class="swipeout-content item-content"&gt;
          |     &lt;div class="item-media"&gt;...&lt;/div&gt;
          |     &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="swipeout-actions-right"&gt;
          |     &lt;!-- Add this button and item will be deleted automatically --&gt;
          |     &lt;a href="#" class="swipeout-delete"&gt;Delete&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/li&gt;
      p 可以在点击删除按钮的时候调用确认询问模态窗口（Confirm modal），只有在确认后才会将需要删除的元素从列表中移除。使用确认功能只需要把“data-confirm”和“data-confirm-title”(可选)属性加到删除菜单链接（&lt;a class="swipeout-delete"&gt;）上：
      pre
        code
          | &lt;li class="swipeout"&gt;
          |   &lt;div class="swipeout-content item-content"&gt;
          |     &lt;div class="item-media"&gt;...&lt;/div&gt;
          |     &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="swipeout-actions-right"&gt;
          |     &lt;!-- We add data-confirm and data-confirm-title attributes --&gt;
          |     &lt;a href="#" class="swipeout-delete" data-confirm="Are you sure want to delete this item?" data-confirm-title="Delete?"&gt;Delete&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/li&gt;
      h2(data-device-preview="../docs-demos/swipeout-overswipe.html") 滑动距离过长(swipeover)
      p 当滑动距离过长的时候，可以通过 <code>swipeout-overswipe</code> 类来制定一个操作按钮。
      pre
        code
          | &lt;li class="swipeout"&gt;
          |   &lt;div class="swipeout-content item-content"&gt;
          |     &lt;div class="item-media"&gt;...&lt;/div&gt;
          |     &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="swipeout-actions-right"&gt;
          |     &lt;a href="#"&gt;More&lt;/a&gt;
          |     &lt;a href="#" class="swipeout-delete swipeout-overswipe"&gt;Delete&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/li&gt;
      .important-note
        p <code>overswipe</code> 只能用在右滑的最后一个按钮或者左滑的第一个按钮。
        p overswipe 的时候会自动在overswipe按钮上触发click事件，所以你需要在该按钮上绑定正确的事件监听。
      pre
        code
          | &lt;li class="swipeout"&gt;
          |   &lt;div class="swipeout-content"&gt;
          |     &lt;a href="#" class="item-content item-link"&gt;
          |       &lt;div class="item-inner"&gt;
          |         &lt;div class="item-title-row"&gt;
          |           &lt;div class="item-title"&gt;Facebook&lt;/div&gt;
          |           &lt;div class="item-after"&gt;17:14&lt;/div&gt;
          |         &lt;/div&gt;
          |         &lt;div class="item-subtitle"&gt;New messages from John Doe&lt;/div&gt;
          |         &lt;div class="item-text"&gt;Lorem ipsum ...&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/a&gt;
          |   &lt;/div&gt;
          |   &lt;div class="swipeout-actions-left"&gt;
          |     &lt;a href="#" class="swipeout-overswipe bg-green reply"&gt;Reply&lt;/a&gt;
          |     &lt;a href="#" class="bg-blue forward"&gt;Forward&lt;/a&gt;
          |   &lt;/div&gt;
          |   &lt;div class="swipeout-actions-right"&gt;
          |     &lt;a href="#" class="mark bg-orange"&gt;Mark&lt;/a&gt;
          |     &lt;a href="#" class="swipeout-delete swipeout-overswipe"&gt;Delete&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/li&gt;
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.mark').on('click', function () {
          |   myApp.alert('Mark');
          | });
          | $$('.reply').on('click', function () {
          |   myApp.alert('Reply');
          | });
          | $$('.forward').on('click', function () {
          |   myApp.alert('Forward');
          | });          
      h2(data-device-preview="../docs-demos/swipeout-api.html") Swipeout JavaScript API
      p Swipeouts 有丰富的JS API可以用来控制里面的元素：
      p
        span.method myApp.swipeoutOpen(<span>el</span>)</span> - 在指定的元素中显示滑动菜单
      ul.method-parameters
        li
          span.parameter el
          |  - 带有“swipeout”类的列表元素（&lt;li&gt;）的<span class="parameter-type">DOM节点</span>或<span class="parameter-type">CSS选择器</span>。必选的
      p
        span.method myApp.swipeoutClose(<span>el</span>)</span> - 在指定的元素中隐藏滑动菜单
      ul.method-parameters
        li
          span.parameter el
          |  - 带有“swipeout”类的列表元素（&lt;li&gt;）的<span class="parameter-type">DOM节点</span>或<span class="parameter-type">CSS选择器</span>。必选的
      p
        span.method myApp.swipeoutDelete(<span>el</span>)</span> - 删除指定的滑动列表中的元素
      ul.method-parameters
        li
          span.parameter el
          |  - 带有“swipeout”类的列表元素（&lt;li&gt;）的<span class="parameter-type">DOM节点</span>或<span class="parameter-type">CSS选择器</span>。必选的
      p
        span.method myApp.swipeoutOpenedEl</span> - 属性（property）。包含已打开的滑动列表元素。当没有滑动列表中的元素被打开，返回undefined


      h2(data-device-preview="../docs-demos/swipeout-events.html") 滑动列表事件（Swipeout events）
      p 滑动列表元素会触发以下事件:
      table.events-table
        thead
          tr
            th 事件（Event）
            th 目标（Target）
            th 说明（Description）
        tbody
          tr
            td swipeout
            td 滑动列表元素<span>&lt;li class="swipeout"&gt;</span>
            td 当滑动列表元素被移动时触发，event.detail.progress表示当前打开的菜单的开启进度
          tr
            td open
            td 滑动列表元素<span>&lt;li class="swipeout"&gt;</span>
            td 当滑动列表元素开始显示时触发
          tr
            td opened
            td 滑动列表元素<span>&lt;li class="swipeout"&gt;</span>
            td 当滑动列表元素完成显示时触发
          tr
            td close
            td 滑动列表元素<span>&lt;li class="swipeout"&gt;</span>
            td 当滑动列表元素开始隐藏时触发
          tr
            td closed
            td 滑动列表元素<span>&lt;li class="swipeout"&gt;</span>
            td 当滑动列表元素完成隐藏时触发
          tr
            td delete
            td 滑动列表元素<span>&lt;li class="swipeout"&gt;</span>
            td 当滑动列表元素开始删除操作时触发
          tr
            td deleted
            td 滑动列表元素<span>&lt;li class="swipeout"&gt;</span>
            td 当滑动列表元素被删除后触发
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.swipeout').on('deleted', function () {
          |   myApp.alert('Item removed');
          | });
          | 
          | $$('.swipeout').on('swipeout', function (e) {
          |   console.log('Item opened on: ' + e.detail.progress + '%');
          | });

      .device-spacer
