extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Tab bar | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 标签栏
        p 标签栏是一种特殊情况的工具栏，它包含图标（或者是带有文案的图标），而不是普通的文本，并且和<a href="tabs.html">标签页</a>一起使用。
      h2(data-device-preview="../docs-demos/tabbar-layout.html") 标签栏布局
      p 标签栏和工具栏基本一致，但是它有额外的<b>"tabbar"</b>类：
      pre
        code
          | &lt;div class="toolbar tabbar"&gt;
          |     &lt;div class="toolbar-inner"&gt;
          |         &lt;a href="#tab1" class="tab-link active"&gt;
          |             &lt;i class="icon demo-icon-1"&gt;&lt;/i&gt;
          |         &lt;/a&gt;
          |         &lt;a href="#tab2" class="tab-link"&gt;
          |             &lt;i class="icon demo-icon-2"&gt;&lt;/i&gt;
          |         &lt;/a&gt;
          |         &lt;a href="#tab3" class="tab-link"&gt;
          |             &lt;i class="icon demo-icon-3"&gt;&lt;/i&gt;
          |         &lt;/a&gt;
          |         &lt;a href="#tab4" class="tab-link"&gt;
          |             &lt;i class="icon demo-icon-4"&gt;&lt;/i&gt;
          |         &lt;/a&gt;
          |     &lt;/div&gt;
          | &lt;/div&gt;
      p 默认情况下，所有的工具栏元素（链接）沿着工具栏等距分布 - 它们之间的距离相等。这里有一些关于链接尺寸的注意事项：
      .important-note
        ul
          li
            p 在iPhone上所有的链接尺寸等于[screen width] / [number of links]
          li
            p 在iPad上所有链接会被居中，最小宽度为105px

      h3(data-device-preview="../docs-demos/tabbar-badges.html") 向图标添加徽章
      p 如果你需要向标签栏图标添加徽章，只需在图标内部放入<code>&lt;span class="badge"&gt;</code>：
      pre
        code
          | &lt;div class="toolbar tabbar"&gt;
          |     &lt;div class="toolbar-inner"&gt;
          |         &lt;a href="#tab1" class="tab-link active"&gt;
          |             &lt;i class="icon demo-icon-1"&gt;&lt;/i&gt;
          |         &lt;/a&gt;
          |         &lt;a href="#tab2" class="tab-link"&gt;
          |             &lt;i class="icon demo-icon-2"&gt;
          |                 &lt;span class="badge badge-red"&gt;5&lt;/span&gt;
          |             &lt;/i&gt;
          |         &lt;/a&gt;
          |         &lt;a href="#tab3" class="tab-link"&gt;
          |             &lt;i class="icon demo-icon-3"&gt;&lt;/i&gt;
          |         &lt;/a&gt;
          |         &lt;a href="#tab4" class="tab-link"&gt;
          |             &lt;i class="icon demo-icon-4"&gt;
          |                 &lt;span class="badge badge-green"&gt;15&lt;/span&gt;
          |             &lt;/i&gt;
          |         &lt;/a&gt;
          |     &lt;/div&gt;
          | &lt;/div&gt;
      h3(data-device-preview="../docs-demos/tabbar-labels.html") 带有文案的标签栏
      p 如果你需要使用带有文案的标签栏，需要在标签栏上再加一个<strong>"tabbar-labels"</strong>类，然后把<code>&lt;span class="tabbar-label"&gt;</code>放到链接里：
      pre
        code
          | &lt;div class="toolbar tabbar tabbar-labels"&gt;
          |     &lt;div class="toolbar-inner"&gt;
          |         &lt;a href="#tab1" class="tab-link active"&gt;
          |             &lt;i class="icon demo-icon-1"&gt;&lt;/i&gt;
          |             &lt;span class="tabbar-label"&gt;Label 1&lt;/span&gt;
          |         &lt;/a&gt;
          |         &lt;a href="#tab2" class="tab-link"&gt;
          |             &lt;i class="icon demo-icon-2"&gt;
          |                 &lt;span class="badge badge-red"&gt;5&lt;/span&gt;
          |             &lt;/i&gt;
          |             &lt;span class="tabbar-label"&gt;Label 2&lt;/span&gt;
          |         &lt;/a&gt;
          |         &lt;a href="#tab3" class="tab-link"&gt;
          |             &lt;i class="icon demo-icon-3"&gt;&lt;/i&gt;
          |             &lt;span class="tabbar-label"&gt;Label 3&lt;/span&gt;
          |         &lt;/a&gt;
          |         &lt;a href="#tab4" class="tab-link"&gt;
          |             &lt;i class="icon demo-icon-4"&gt;&lt;/i&gt;
          |             &lt;span class="tabbar-label"&gt;Label 4&lt;/span&gt;
          |         &lt;/a&gt;
          |     &lt;/div&gt;
          | &lt;/div&gt;
      .important-note
        p 注意，带有文案的标签栏在不同设备上会有更大的高度：在iPhone上是50px，在iPad上市55px
        p 因为这些高度的改变，你需要在 <a href="navbar-toolbar-layouts.html">固定和穿透布局</a> 中使用 "tabbar-labels-fixed" 或者 "tabbar-labels-through"。
