extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Templates Auto Compilation | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content
      h1 自动编译模板
      p 如果你在 <code>&lt;script&gt;</code> 标签中编写模板，并且设置了特定的属性，那么 Framework7 会自动帮你编译所有的模板：
      pre
        code
          | &lt;script type="text/template7" id="myTemplate"&gt;
          |     &lt;p&gt;Hello, my name is {{name}} and i am {{age}} years old&lt;/p&gt;
          | &lt;/script&gt;  
      p 其中：
      ul
        li
          p <code>type="text/template7"</code> 指定了这个script的内容会被 Framework7 当做一个 Template7 模板自动编译
        li
          p <code>id="myTemplate"</code> 是模板的id，后面可以通过这个id来方法这个模板
      p 你需要在 <a href="init-app.html">初始化应用</a> 的时候传入一个参数来启用自动编译模板功能：
      pre
        code
          | var myApp = new Framework7({
          |     //Tell Framework7 to compile templates on app init
          |     precompileTemplates: true,
          | });
      h2 Template7.templates / myApp.templates
      p 应用初始化完成之后，所有的编译好的模板都可以通过 <code>Template7.templates</code> 对象来访问，他还有一个别名是 <code>myApp.templates</code>。模板的名字就是 <code>&lt;script&gt;</code> 标签上的 id 属性
      p 所以，如果我们有下面这些模板:
      pre
        code
          | &lt;script type="text/template7" id="personTemplate"&gt;
          |     &lt;p&gt;Hello, my name is {{name}} and i am {{age}} years old&lt;/p&gt;
          |     &lt;p&gt;I work as {{position}} at {{company}}&lt;/p&gt;
          | &lt;/script&gt;
          | 
          | &lt;script type="text/template7" id="carTemplate"&gt;
          |     &lt;p&gt;I have a great car, it is {{vendor}} {{model}}, made in {{year}} year.&lt;/p&gt;
          |     &lt;p&gt;It has {{power}} hp engine with {{speed}} km/h maximum speed.&lt;/p&gt;
          | &lt;/script&gt; 
      p 当应用初始化完成之后，我们可以在JS中这样访问：
      pre
        code
          | var myApp = new Framework7({
          |     //Tell Framework7 to compile templates on app init
          |     precompileTemplates: true
          | });
          | 
          | // Render person template to HTML, its template is already compiled and accessible as Template7.templates.personTemplate
          | var personHTML = Template7.templates.personTemplate({
          |     name: 'John Doen',
          |     age: 33,
          |     position: 'Developer',
          |     company: 'Apple'
          | });
          | 
          | // Compile car template to HTML, its template is already compiled and accessible as Template7.templates.carTemplate
          | var carHTML = Template7.templates.carTemplate({
          |     vendor: 'Ford',
          |     model: 'Mustang',
          |     power: 300,
          |     speed: 280
          | });
      .important-note
        p 如果你使用了自定义的辅助方法和模板自动编译，请确保你初始化应用之前注册他们。
