extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Toolbar | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 工具栏
        p 工具栏是位于屏幕底端的固定（在固定和穿透布局类型中）区域，它包含导航元素。
        p 工具栏不包含任何其他部分，内部只含有普通文本。
      h2(data-device-preview="../docs-demos/toolbar-layout.html") 工具栏布局
      p 工具栏布局非常简单：
      pre
        code
          | &lt;div class="toolbar"&gt;
          |     &lt;div class="toolbar-inner"&gt;
          |         &lt;a href="#" class="link"&gt;Link 1&lt;/a&gt;
          |         &lt;a href="#" class="link"&gt;Link 2&lt;/a&gt;
          |         &lt;a href="#" class="link"&gt;Link 3&lt;/a&gt;
          |     &lt;/div&gt;
          | &lt;/div&gt;
      p 默认情况下，所有的工具栏元素（链接）沿着工具栏等距分布 - 它们之间的距离相等。
         
      h2(data-device-preview="../docs-demos/toolbar-hide.html") 相关视图方法
      p 如果我们已经<a href="views.html">初始化视图</a>我们可以使用工具栏的如下方法：
      table.methods-table
        tbody
          tr
            td view.hideToolbar()
            td 隐藏该视图中的工具栏
          tr
            td view.showToolbar()
            td 显示该视图中的工具栏
      p 下面为示例：
      pre
        code
          | var myApp = new Framework7();
          |
          | var $ = Framework7.$;
          |
          | var mainView = myApp.addView('.view-main');
          |
          | $('.hide-toolbar').on('click', function () {
          |     mainView.hideToolbar();
          | });
          |
          | $('.show-toolbar').on('click', function () {
          |     mainView.showToolbar();
          | });
      h2(data-device-preview="../docs-demos/toolbar-hide-auto.html") 自动隐藏工具栏
      p Framework7允许你在不需要工具栏而且通过Ajax载入的页面上，自动隐藏工具栏。它只在你使用穿透类型的布局时才有用。
      p 为了实现这点，你要做的是添加<srong>"no-toolbar"</srong>类到载入的页面中(<code>&lt;div class="page no-toolbar"&gt;</code>)，然后在那里放置一个空的导航栏：
      pre
        code
          | &lt;!-- Page has additional "no-toolbar" class --&gt;
          | &lt;div data-page="about" class="page no-toolbar"&gt;
          |   &lt;div class="page-content"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;&lt;a href="#" class="back button"&gt;Go Back&lt;/a&gt;&lt;/p&gt;
          |       ...
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      .device-spacer
